.register-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button {
  width: 100%;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.success-message{
  color: rgb(24, 129, 10);
  margin-top: 10px;
}
