<div class="header-container">
  <button mat-raised-button color="primary" class="update-btn">Update Task</button>
  <button mat-raised-button color="warn" (click)="logout()" class="logout-btn">Log Out</button>
</div>

<div class="form-container">

  <form [formGroup]="taskForm" (ngSubmit)="updateTask()">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" class="input-field">
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" class="textarea-field"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category" class="select-field">
        <mat-option *ngFor="let category of taskCategories" [value]="category">{{ category }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priority" class="select-field">
        <mat-option *ngFor="let priority of taskPriorities" [value]="priority">{{ priority }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="form-buttons">
      <button mat-raised-button color="primary" type="submit" class="submit-btn">Update Task</button>
      <button mat-raised-button color="accent" [routerLink]="['/tasks']" routerLinkActive="router-link-active" class="back-btn">Back to Task List</button>
    </div>
  </form>
</div>
