<form [formGroup]="taskForm" (ngSubmit)="updateTask()">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
      <mat-option *ngFor="let category of taskCategories" [value]="category">{{ category }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Priority</mat-label>
    <mat-select formControlName="priority">
      <mat-option *ngFor="let priority of taskPriorities" [value]="priority">{{ priority }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Update Task</button>
  <button mat-raised-button color="primary" [routerLink]="['/tasks']" routerLinkActive="router-link-active">Back to Task List</button>
</form>
